     <title>Ubicación - Chevrolet Apatzingan</title>

		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2>

				</div>
			</div>


			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">


	

						<div class="col-md-6" align="center">
							<h3>Chevrolet Fame Apatzingán</h3>
							<br>
<span class="single-project-content">
                    <img alt="Chevrolet Fame Apatzingán" src="images/fachada-apa.jpg"></span>
                    <li><span><i class="fa fa-home"></i>Ctra. Apatzingán-Uruapan Km. 1.5 · </span><span> Col. Florida · C.P. 60698</span> <span>Apatzingán, Mich.</span></li>                       
						</div>

			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			 

				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.8036864552246!2d-102.3467526846731!3d19.072367057041888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8431e3e23e5e47cd%3A0x1b669ca26a77ff89!2sFAME+Chevrolet+Apatzing%C3%A1n!5e0!3m2!1ses-419!2smx!4v1535553430999" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				
			 
            </div>

					</div>
				</div>
			</div>

		</div><br>
	
</body>
</html>